@import url(https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
  max-width: 100%;
  margin: auto;
}

ul {
  list-style: none;
}

body {
  font-family: "Teko", sans-serif;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
header .logo img {
  height: 100px;
}
header .main-nav {
  list-style: none;
}
header .main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main-nav-list a {
  padding: 10px 15px;
  text-decoration: none;
  color: #001942;
  font-size: 24px;
  font-weight: 400;
}
header .main-nav-list a.active {
  background-color: #B3E5FC;
}

.container {
  background-image: url();
}